.thin-border {
  border: 1px solid #DDD;
  border-radius: 5px;
}

.thick-white-border {
  border-radius: 5px;
}

.img-block {
  max-width: 1020px;
  background-color: white;}

.main-block {
  max-width: 680px;
padding:20px 15px 0px;}

.big-center-block {
  max-width: 1140px;
  padding-top: 48px;
  padding-bottom: 2.15%;
  background-color: #EEE;
  border-radius: 6px;
  margin-top: 60px;}

.spc {height: 12px;}

hr{ max-width: 1140px;
    margin-top: 30px;}

.logo .center-block{
  font-size: 63px;
  border-bottom: 4px solid #333;
  }

.logo div .underline{
  font-size: 45px;  
}

.under-img {
  margin: 5px 10px 13px;}

.quote-text {
  font-size: 21px}

footer {font-style: italic;}

.large-font {
  font-size: 24px;
  line-height:26px; } /*108%*/

footer {margin-top: 15px;}
.logo {
    float: left;
    margin: 50px;
  /*border: 4px solid black;*/
}
.contact {
  width: 250px;
  /*border: 4px solid black;*/
  float: right; 
  margin: 60px 30px;
}

.vk-logo {
  float: right;
  /*border: 4px solid black;*/
  margin-right: 33px;
}

.vk-mi {
  width: 126px;
  float: right;
  /*border: 4px solid black;*/
}
.time {
  width:126px;
  float: right;
  /*border: 4px solid black;*/
}

.contact a img:hover {
    border: 4px solid black;
    border-radius: 5px;
    background: #ffffff;
}

.center-block {
  clear: both;
}

.row {
  /*border: 4px solid black;*/
  padding: 20px;
}
.pickup {
  border: 3px solid #EEE;
  margin: 0px 30px 20px;
  padding: 10px 10px 0px;
  font-size: 1.2em;
}
.img-center {
  border: 10px solid white;
  height: 400px;
}
/*Carousel*/

.fader{
    margin: 0 auto;
    position: relative;
    padding-top: 50%;
    overflow: hidden;
} 
.fader img {
  margin: 0 21%;
}
 
.fader .slide{
    position: absolute;
    /*width: 80%;*/
    
    height: 500px;
    top: 0;
    z-index: 1;
    opacity: 0;
}
 
.fader img.slide{
    height: auto;
}

.fader .prev,
.fader .next{
  position: absolute;
  height: 80px;
  line-height: 55px;
  width: 50px;
  font-size: 100px;
  text-align: center;
  color: #333;
  top: 50%;
  left: 0;
  z-index: 4;
  margin-top: -25px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;
}

.fader .next{
  left: auto;
  right: 0;
}

.fader .pager_list{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  z-index: 4;
}

.fader .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #333;
  opacity: .4;
  /*text-indent: -999px;*/
  font-size: 1px;
  color: #eee;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
}

.fader .pager_list li:hover,
.fader .pager_list li.active{
  opacity: 1;

}

/*Carousel-end*/
/*PopUp*/
.b-popup{ 
    z-index: 4;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed; 
    top:0px;
    display: none;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:800px;
    height: 640px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.b-popup-content-img{
    width:100%;  
}
.b-popup-close{
    width: 40px;
    float: right;
}
/*PopUp-end*/
